<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- When operation mode is debug, additional windows are opened during Image processing. -->
    <add key="OperationMode" value="DEBUG" />
    <add key="MovementDetector.Parameters" value="DEBUG;K=2;TrainingFrames=1200" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
