<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- When operation mode is debug, additional windows are opened during Image processing. -->
    <add key="OperationMode" value="DEBUG" />
    
    <!-- Movement Detectors
    
    Expectations for classes
    - can be instantiaated with constructor taking one argument - IInterceptor
    
    Possible movement detectors (uncomment the configuration you need):
    - Siarhei Kuchuk Movement Detector
    - Julio Claudio Soraia Movement Detector
    -->
    <!-- Siarhei Kuchuk Movement Detector (C29M4H3-Training Data Set-Stripped640x480Fps15) 
    <add key="MovementDetector.Type" value="HDE.IpCamClientServer.Server.Core.ImageProcessingHandlers.MovementDetectors.SiarheiKuchukMovementDetector, HDE.IpCamClientServer.Server.Core" />
    <add key="MovementDetector.Parameters" value="DEBUG;ClosingOpeningMatrixSize=3;K=2;N=4;M=1;Llow=0.5;Lstd=0.05;Lncc=0.98;TrainingFrames=300;MinimumDetectionWidthPixels=1;MinimumDetectionHeightPixels=1;MaximumDetectionWidthPixels=100;MaximumDetectionHeightPixels=100;" />-->
    
    <!-- Siarhei Kuchuk Movement Detector (SS101668)-->
    <add key="MovementDetector.Type" value="HDE.IpCamClientServer.Server.Core.ImageProcessingHandlers.MovementDetectors.SiarheiKuchukMovementDetector, HDE.IpCamClientServer.Server.Core" />
    <add key="MovementDetector.Parameters" value="DEBUG;ClosingOpeningMatrixSize=5;K=2;N=2;M=1;Llow=0.5;Lstd=0.05;Lncc=0.98;TrainingFrames=1000;MinimumDetectionWidthPixels=1;MinimumDetectionHeightPixels=1;MaximumDetectionWidthPixels=100;MaximumDetectionHeightPixels=100;" />
 
    <!-- Julio Claudio Soraia Movement Detector (C29M4H3-Training Data Set-Stripped640x480Fps15) 
    <add key="MovementDetector.Type" value="HDE.IpCamClientServer.Server.Core.ImageProcessingHandlers.MovementDetectors.JulioClaudioSoraiaMovementDetector, HDE.IpCamClientServer.Server.Core" />
    <add key="MovementDetector.Parameters" value="DEBUG;K=3;N=4;M=1;Llow=0.5;Lstd=0.05;Lncc=0.98;TrainingFrames=400;MinimumDetectionWidthPixels=2;MinimumDetectionHeightPixels=2;MaximumDetectionWidthPixels=300;MaximumDetectionHeightPixels=500;" />-->
    
    <!-- Julio Claudio Soraia Movement Detector (SS101668)
    <add key="MovementDetector.Type" value="HDE.IpCamClientServer.Server.Core.ImageProcessingHandlers.MovementDetectors.JulioClaudioSoraiaMovementDetector, HDE.IpCamClientServer.Server.Core" />
    <add key="MovementDetector.Parameters" value="DEBUG;K=3;N=8;M=1;Llow=0.5;Lstd=0.05;Lncc=0.98;TrainingFrames=700;MinimumDetectionWidthPixels=2;MinimumDetectionHeightPixels=2;MaximumDetectionWidthPixels=300;MaximumDetectionHeightPixels=500;" />-->
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
